@model IEnumerable<UserDebts>
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header align-items-center">
                    <h5 class="mb-0">Debts Table</h5>
                    <p class="mb-0 small text-muted"> @Model.Count(x=>x.Status == UserDebts.DebtStatus.Pending) Pending Debts</p> 
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.FirstOrDefault()!.DebtId)</th>
                                @* <th>Add date later</th> *@
                                <th>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Split)</th>
                                <th>@Html.DisplayNameFor(x => x.FirstOrDefault()!.RemainingDebt)</th>
                                <th>Status</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var userDebt in Model)
                            {
                                <tr class="align-middle">
                                    <td>@userDebt.DebtId</td>
                                    <td>@userDebt.Split.ToString()</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>@userDebt.RemainingDebt</span>
                                        </div>
                                    </td>
                                    @if (userDebt.IsPaid)
                                    {
                                        <td>
                                            <span class="badge fs-6 fw-normal bg-tint-success text-success">Paid</span>
                                        </td>
                                    }
                                    else if (userDebt.Status == UserDebts.DebtStatus.Approved)
                                    {
                                        <td>
                                            <span class="badge fs-6 fw-normal bg-tint-success text-success">Accepted</span>
                                        </td>
                                    }
                                    else if (userDebt.Status == UserDebts.DebtStatus.Pending)
                                    {
                                        <td>
                                            <span class="badge fs-6 fw-normal bg-tint-warning text-warning">Pending</span>
                                        </td>
                                    }
                                    else if (userDebt.Status == UserDebts.DebtStatus.Rejected)
                                    {
                                        <td>
                                            <span class="badge fs-6 fw-normal bg-tint-danger text-danger">Rejected</span>
                                        </td>
                                    }
                                    @if (!userDebt.IsPaid && userDebt.Status == UserDebts.DebtStatus.Approved)
                                    {
                                        <td>
                                            <a asp-action="DebtPayment" asp-controller="Debts" asp-route-id="@userDebt.UserDebtsId" class="btn btn-outline-primary">Pay Off</a>
                                            <a asp-action="DebtTransactions" asp-controller="Transactions" asp-route-id="@userDebt.DebtId" class="btn btn-outline-secondary">Debt Transactions</a>
                                        </td>
                                    }
                                    else if (userDebt.Status == UserDebts.DebtStatus.Pending)
                                    {
                                        <td>
                                            <a asp-action="ApproveDebt" asp-controller="Debts" asp-route-id="@userDebt.UserDebtsId" class="btn btn-outline-primary">Approve</a>
                                            <a asp-action="RejectDebt" asp-controller="Debts" asp-route-id="@userDebt.UserDebtsId" class="btn btn-outline-danger">Reject</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Index" asp-controller="Transactions" class="btn btn-outline-secondary">View All Transactions</a>
                    <a asp-action="Create" asp-controller="Debts" class="btn btn-outline-primary">Create Debt</a>
                </div>
            </div>
        </div>
    </div>
</div>
